:root{
    --Desaturated-Blue: rgb(88, 89, 137);
    --Very-Dark-Blue: #070439; 
    --Moderate-Cyan: #3c9f8f;
    --Bright-Blue: #3065f8;
    --Light-Gray: hsl(0, 0%, 75%);
    --Light-Grayish-Blue: hsl(240, 75%, 98%);
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}
body{
    font-size: 1.6rem;
    text-align: center;
    background-color:hsla(224, 93%, 58%,.1);
}
.page-wraper{
    margin-inline: auto;
    min-height: 100vh;
    padding-block: 2rem 0;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: #fff;
    position: relative;
    z-index: 0;
}

img{
    max-width: 100%;  
}

header{
    padding: 2rem;
    display: flex;
    align-items: center;
    margin-inline: auto;
}
.logo{
    max-height:3.5rem ;
    min-height:3rem ;
    min-width: 6.5rem;
    
}
nav{
    margin-left: auto;
    color: var(--Very-Dark-Blue);
  }

ul{
    list-style: none;
    display: flex;
    min-width: 23.6rem;
    height: 100%;
    align-items: center;
    margin-inline: 3rem;
    gap: 3rem;
    
}

section{
    padding: 10rem 2.5rem;
    margin-inline: auto;
}

.section{
    background-image: url("images/bg-curve-mobile.svg");
    background-repeat: no-repeat;
    background-position: top 0 right 0;
    background-size: 100% 8rem;
    position: relative;
    }
.section::before{
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    top: 7rem;
    background-color: var(--Light-Grayish-Blue);
    z-index: -1;

}
h1,h2{
    color: var(--Very-Dark-Blue);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
}
section p{
    color: var(--Very-Dark-Blue);
     margin-block: 3rem;
}
section > img{
    display: block;
  width: 90%;
  margin-inline: auto;
}
.herosection--title{
    font-size: 2.5rem;
    margin-block: 3rem;
    
    
}

.section--title{
    margin-block: 10rem 3rem;
    font-size: 2rem;
}
.section--text{
    color: var(--Desaturated-Blue);
}

.inputmail{
    display: block;
    margin-inline: auto;
    width: 90%; 
    border: 2px solid var(--Light-Gray);
    outline: 1px solid var(--Very-Dark-Blue);
    border-radius: .5rem;
    color: var(--Light-Gray);
    padding: 1rem 2rem;
    padding-top: 1.2rem;
    font-size: 1.8rem;
    margin-block: 3rem;
}
.btn{
    display: block;
    text-decoration: none;
    text-align: center;
    color: #ffff;
    background-color: var(--Bright-Blue);
    width: 90%; 
    margin-inline: auto;
    padding: 1.5rem;
    border-radius: .5rem;
    border: none;
    font-weight: 700;
}
.guideLink{
    width: max-content;
    display: block;
    margin-inline: auto;
    text-decoration: none;
    text-align: left;
    color: var(--Moderate-Cyan);
    border-bottom: 2px solid var(--Moderate-Cyan);
    padding: 1rem 0;
    width: max-content;
    display: block;
    margin-inline: auto;
}
.guideLink img{
    vertical-align: middle;
    margin-left: .7rem;
    width: 3rem;
    height: 3rem;
}
.reviewCard{
    margin: 5rem;
    margin-right: 0;
    padding: 3rem;
    border-radius: .5rem;
    color: var(--Very-Dark-Blue);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: #ffff;
    text-align: left;
    min-width: min-content;
}
.reviewCard > p{
    margin-block: 1rem 3rem;
}
.reviewCard > img{
    width: 1.6rem;
}
.reviewCard__profile{
display: grid;
width: max-content;
grid-template-columns: max-content 1fr;


}
.reviewCard__profile img{
    width: 4rem;
    height: 4rem;
    border-radius: 10rem;
  align-self: center;
    grid-row: 1/3;
    grid-column: 1/2;
    margin-right: 1rem;
}
.reviewCard__profile p {
  padding: 0;
  margin: 0;
}
.reviewer-name{
    color: var(--Very-Dark-Blue);
    font-weight: 700;
}
footer{text-align: left;}
.ctablock{
    background-color: var(--Desaturated-Blue);
    color: #ffff;
    padding: 8rem 4rem;
}
.cta__title{
    color: #ffff;
}
.cta__text{
    text-align: center;
margin-block: 3rem;
}
.cta__mail{
    border:0;
    outline: 0;
    margin-block: 1.5rem;
}
.footer-section{
    background-color: var(--Very-Dark-Blue);
    color: #ffff;
    padding: 4rem;
}
address{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-block: 2rem 4rem;
}
.footer__logo{
    filter: invert(100%) sepia(10%) saturate(7486%) hue-rotate(172deg) brightness(112%) contrast(107%);
}
.phone,
.mail{
    color: #ffff;
    text-decoration: none;
    font-style: normal;
}
address img{
    margin-right: 1.5rem;
}
.footer-nav a{
    text-decoration: none;
    color: #ffff;
}
.footer-nav ul{
    display: grid;
    gap: 1rem;
    margin: 4rem 0;

}
.footer-socail{
    margin-inline: auto;
    width: max-content;
}
.footer-socail img{
    width: 3rem;
    height: 3rem;
    border: 1px solid #ffff;
    border-radius: 10rem;
    padding: .5rem;
    margin-inline: 1rem;
}
@media screen and (min-width:700px) {

    body{
        font-size: 2rem;
    }
    header,
    .heroSection,
    .section{
    padding-inline: 5%;
    
    }
     .herosection--title,
     .section--title{
         font-size: 3.5rem;
         text-align: left;
     }
     .herosection--text,
     .section--text{
         font-size: 1.8rem;
     text-align: left;
     }

   .btn,
   .inputmail{
       margin-inline: 0;
   }
  .heroSection,
  .section{
     display: flex;
     flex-direction: row-reverse;
     align-items: center;
     justify-content: space-evenly;
     gap: 1.5rem;
     padding-block: 3rem 10rem;
 }

 .herosection__img,
 .section__img{
     width: 50%;
 }
 .section__col{
     width: 45%;
 }
 .ctawrap{
     width: 90%;
    display: grid;
    grid-template-columns:  1fr max-content;
    justify-items: start;
    align-items: center;

 }
 .btn{
     width: 100%;
     padding: 1.2rem 4rem;
 }
 .section{
    background-image: url("images/bg-curve-desktop.svg");
    }
  .guideLink,
  .reviewCard{
      margin-inline: 0;
      margin-right: 22%;
  }
  
  .ctablock{
     display: flex;
      justify-content: space-between;
      align-items: center;
 }
 .cta__textblock{
  width: 45%;   
 }
 .footer-ctawrap{
width: 40%;
display: grid;
grid-template-columns: max-content 1fr;
justify-items: start;
align-items: center;
 }
 .fcta__mail{
     grid-column: 1/3;
 }
 .fcta__btn{
     grid-column: 1/2;
     
 }

  .cta__title{
    text-align: left;
  }
  .cta__text{
      text-align: left;
  }
  .footerblock{
      display: flex;
      justify-content: space-between;
      align-items: start;

  }
  .footer-nav {
      display: flex;
      align-items: flex-start;
      justify-content: space-evenly;
      margin-block: 2rem 0;
  }
  .footer-nav ul{
      margin: 0;
      text-align: center;
  }
  .footer-socail{
      margin-inline: 0;
      margin-block: 2rem 0;
  }

}

.btn:hover,
.footer-nav a:hover,
.guideLink:hover
{   cursor: pointer;
    opacity: .7;
    
 }

 .footer-socail a:hover{
    filter: invert(5%) sepia(54%) saturate(4690%) hue-rotate(241deg) brightness(95%) contrast(111%);
 }